DJANGO_DEBUG=true
DJANGO_SECRET_KEY=meh
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,web
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:1337,http://0.0.0.0:1337,http://127.0.0.1:1337

DB_NAME=covid_dashboard
DB_USER=username
DB_PASS=password
DB_HOST=postgres
DB_PORT=5432
DB_AIRFLOW_PASS=airflow

EXTERNAL_DB_NAME=external_covid
EXTERNAL_DB_USER=postgres
EXTERNAL_DB_PASS=postgres
EXTERNAL_DB_HOST=external_postgres
EXTERNAL_DB_PORT=5433

LOKI_HOST=loki

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false

AIRFLOW_FERNET_KEY=MJNz36Q8222VOQhBOmBROFrmeSxNOgTCMaVp2_HOtE0
AIRFLOW_SECRET_KEY=ex3IbCmd1shK4Ycu9SJE1JQfXt7jzqMv
AIRFLOW_CORE_LOAD_EXAMPLES=False
AIRFLOW_CORE_LOAD_DEFAULT_CONNECTIONS=False
AIRFLOW_EMAIL_DEFAULT_EMAIL_ON_RETRY=False
AIRFLOW_EMAIL_DEFAULT_EMAIL_ON_FAILURE=False
AIRFLOW_PARALLELISM=4
AIRFLOW_DAG_CONCURRENCY=12
AIRFLOW_MAX_ACTIVE_RUNS_PER_DAG=4
AIRFLOW_SCHEDULER_MAX_THREADS=3
AIRFLOW_SCHEDULER_DAG_DIR_LIST_INTERVAL=30
AIRFLOW_SCHEDULER_CATCHUP_BY_DEFAULT=False
AIRFLOW_WEBSERVER_LOG_FETCH_TIMEOUT_SEC=10

AIRFLOW_UID=
AIRFLOW_GID=

TELEPUSH_TOKEN=1234

BOTFATHER_TOKEN=6478257279:AAHroVbXwkEcpTV1Gj1PK0OlD8axgujaqCk
#poll or webhook
TELEPUSH_MODE=poll
TELEPUSH_USE_HTTPS=false
# Path of your SSL certificate when using webhook mode with TELEPUSH_USE_HTTPS
TELEPUSH_CERT_PATH=
# Path of your private SSL key when using webhook mode with TELEPUSH_USE_HTTPS
TELEPUSH_KEY_PATH=
# Path to a line-separated blacklist file containing user IDs
TELEPUSH_BLACKLIST=
# Path to a line-separated whitelist file containing user IDs
TELEPUSH_WHITELIST=
